.student-card {
    padding: 20px;
}

.student-card .student-name {
    font-size: 24px;
}

.student-card .student-info p{
    color: gray;
}

.student-action > button {
    width: 80px;
}

.btn.primary {
    color: white;
}

.btn.danger {
    color: white;
}